DB_HOST="localhost"
DB_PORT=3306
DB_DATABASE=tienda_sintia_2
DB_USERNAME=root
DB_PASSWORD=

# URL base del proyecto sin barra al final.
# Cámbiala según tu entorno local.
APP_URL=http://localhost/Tienda_Sintia_2